<ion-header>

  <ion-navbar>
    <ion-title>Buscar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label floating>DNI a buscar</ion-label>
    <ion-input type="text" [(ngModel)]="buscarDNI"></ion-input>
  </ion-item>
  
<ng-container *ngFor="let persona of personas | async">
  <ion-card *ngIf="persona.dni == buscarDNI">
    <ion-card-header>
      {{persona.dni}}    
    </ion-card-header>
    <ion-card-content>
      {{persona.nombre}}
      {{persona.apellido}}  
    </ion-card-content>
  </ion-card>
</ng-container >


</ion-content>
